@model KYN_App_v1._1.Models.ResponseBusinessPrimaryDetailViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BusinessGallery</title>

    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        var $lightbox = $('#lightbox');

        $('[data-target="#lightbox"]').on('click', function (event) {
            var $img = $(this).find('img'),
                src = $img.attr('src'),
                alt = $img.attr('alt'),
                css = {
                    'maxWidth': $(window).width() - 100,
                    'maxHeight': $(window).height() - 100
                };

            $lightbox.find('img').attr('src', src);
            $lightbox.find('img').attr('alt', alt);
            $lightbox.find('img').css(css);
        });

        $lightbox.on('shown.bs.modal', function (e) {
            var $img = $lightbox.find('img');

            $lightbox.find('.modal-dialog').css({ 'width': $img.width() });
        });
    });
    </script>
</head>
<body>

    <div class="w3layouts-breadcrumbs text-center">
        <div class="container">
            <span class="agile-breadcrumbs">
                <a href="/Ghaziabad/Crossings"><i class="fa fa-home home_1"></i></a> /
                <a href="/Ghaziabad/Crossings">Categories</a> /
                <a href="/Ghaziabad/Crossings/@Model.Category.CategoryName">@Model.Category.CategoryName</a> /
                <a href="/Ghaziabad/Crossings/@Model.Category.CategoryName/@Model.SubCategory.SubCategoryName">@Model.SubCategory.SubCategoryName</a> /
                @foreach (var item in Model.DetailedCategories)
                {
                    <a href="/Ghaziabad/Crossings/@Model.Category.CategoryName/@Model.SubCategory.SubCategoryName/@item.ID">@item.DetailedCategoryName</a> <span>-</span>
                }
            </span>
        </div>
    </div>

    <div class="well col-md-12" style="margin-top:10px">
        <a href="/Ghaziabad/Crossings/@Model.Category.CategoryName/@Model.SubCategory.SubCategoryName/@Model.Name.Replace(' ', '-').Replace('&','-')/@Model.ID"><h1><em>@Model.Name</em></h1></a>

    </div>
   
    <div>
        

            @{
                foreach (var item in @Model.ImageSliders)
                {
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <a href="#" data-toggle="modal" data-target="#lightbox">
                            <img src="@item" alt="..." class="thumbnail" style="max-height:150px;min-height:150px;width:100%">
                        </a>
                    </div>
                }
            }
            <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="" alt="" />
                        </div>
                    </div>
                </div>
            </div>
</div>

</body>
</html>


<style>
    #lightbox .modal-content {
        display: inline-block;
    }

    #img{
        
    }

    #lightbox .close {
        opacity: 1;
        color: rgb(255, 255, 255);
        background-color: rgb(25, 25, 25);
        padding: 5px 8px;
        border-radius: 30px;
        border: 2px solid rgb(255, 255, 255);
        position: absolute;
        top: -15px;
        right: -55px;
        z-index: 1032;
    }
</style>
