@model IEnumerable<KYN_App_v1._1.Models.ResponseBusinessPrimaryDetailViewModel>

@{
    ViewBag.Title = "FinalSearchResult";
}

<h2>Search Results</h2>

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="~/External_Control/materialize/css/materialize.min.css" media="screen,projection" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/External_Control/materialize/js/materialize.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />


@*<div class="row text-center">
        <div class="col-xs-12 col-md-4 col-sm-12">
            <div class="card" ui-sref='forsaleitem({type:"interior"})'>
                <div class="card-header card-image waves-effect waves-block waves-light">
                    <img src="http://images.cdn.stuff.tv/sites/stuff.tv/files/Mercedes-AMG-GT-Interior-illuminated.jpg" class="img-rounded activator resizeimg" alt="Cinque Terre" height="226">
                </div>
                <div class="card-content">
                    <h5 class='text-center'>Interior</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-12">
            <div class="card" ui-sref='forsaleitem({type:"drivetrain"})'>
                <div class="card-header card-image waves-effect waves-block waves-light">
                    <img src="http://www.revworksinc.com/assets/images/products/subaru/exedy/exedy_brz_twindisc.jpg" class="img-rounded activator resizeimg" alt="Cinque Terre" height="226">
                </div>
                <div class="card-content">
                    <h5 class='text-center'>Drivetrain</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-12">
            <div class="card" ui-sref='forsaleitem({type:"performance"})'>
                <div class="card-header card-image waves-effect waves-block waves-light">
                    <img src="http://www.autonotas.tv/wp-content/uploads/2015/05/SHW_0323-1024x603.jpg" class="img-rounded activator resizeimg" alt="Cinque Terre" height="226">
                </div>
                <div class="card-content">
                    <h5 class='text-center'>Performance</h5>
                </div>
            </div>
        </div>
    </div>*@


@{
    foreach (var item in Model)
    {
        <div>
            <div class="card horizontal">
                <div class="card-image">
                    <img src=@item.ImagePath alt="No Image" />
                </div>
                <div class="card-stacked">
                    <div class="card-title">
                        <p>@item.Name</p>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-12 col-lg-1 col-md-12 col-sm-12"> <i class="material-icons">contact_phone</i></div>
                            <div class="col-xs-12 col-lg-2 col-md-12 col-sm-12"><p>@item.OfficialContactNumber1</p></div>
                            @*<div class="col-xs-12 col-lg-1 col-md-12 col-sm-12"> <i class="material-icons">contact_phone</i></div>*@
                            <div class="col-xs-12 col-lg-2 col-md-12 col-sm-12"><p>@item.OfficialContactNumber2</p></div>
                            <div class="col-xs-12 col-lg-1 col-md-12 col-sm-12"> <i class="material-icons">email</i></div>
                            <div class="col-xs-12 col-lg-2 col-md-12 col-sm-12"><p>@item.BusinessEmail</p></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-1 col-md-12 col-sm-12"> <i class="material-icons">business</i></div>
                            <div class="col-xs-12 col-lg-2 col-md-12 col-sm-12"><p>@item.BusinessType.BusinessTypeName</p></div>
                            <div class="col-xs-12 col-lg-1 col-md-12 col-sm-12"> <i class="material-icons">location_on</i></div>
                            <div class="col-xs-12 col-lg-2 col-md-12 col-sm-12"><p>@item.AddressTypeInfo.AddressTypeName</p></div>
                            <div class="col-xs-12 col-lg-2 col-md-12 col-sm-12"><p>@item.BuildingInformation.BuildingName</p></div>
                            <div class="col-xs-12 col-lg-2 col-md-12 col-sm-12">@Html.ActionLink("Detail", "GetBusinessDetailByID", "Search", new { categoryName = @item.Category.CategoryName, subCategoryName = @item.SubCategory.SubCategoryName, BusinessName = @item.Name.Replace(' ', '-'), businessID = @item.ID }, null)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}




<div class="form-group">
    <div class="col-md-10">
        @Html.ActionLink("Go Back To Search", "SearchBusinessDetailBySubCategory", "Search", new { subCategoryID = @Model.Count() > 0 ? @Model.First().SubCategory.ID : 0 }, new { @class = "btn btn-lg btn-block" })
    </div>
</div>
